body {
  height: 100%;
}
.parent {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.firstborn {
  background-color: hsl(31, 77%, 52%);
  width: 15%;
  height: auto;
  padding-left: 50px;
  padding-right: 65px;
  padding-top: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.secondborn {
  background-color: hsl(184, 100%, 22%);
  width: 15%;
  height: auto;
  padding-left: 50px;
  padding-right: 65px;
  padding-top: 50px;
}
.thirdborn {
  background-color: hsl(179, 100%, 13%);
  width: 15%;
  height: auto;
  padding-left: 50px;
  padding-right: 65px;
  padding-top: 50px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
h1 {
  color: hsl(0, 0%, 95%);
  font-family: BigShoulders Display, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "lexend deca";
  font-weight: 400;
  line-height: 30px;
  padding-top: 10px;
}
button {
  background-color: hsl(0, 0%, 95%);
  width: 130px;
  height: 45px;
  border-radius: 30px;
  margin-top: 80px;
  margin-bottom: 50px;
  border: 2px;
  font-family: lexend deca, sans-serif;
  font-weight: 400;
}
.first {
  color: hsl(31, 77%, 52%);
}
.second {
  color: hsl(184, 100%, 22%);
}
.third {
  color: hsl(179, 100%, 13%);
}
.first:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsla(0, 0%, 100%, 0.75);
  border-style: solid;
  border-color: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
}
.second:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsla(0, 0%, 100%, 0.75);
  border-style: solid;
  border-color: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
}
.third:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsla(0, 0%, 100%, 0.75);
  border-style: solid;
  border-color: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  body {
    /* flex-wrap: wrap; */
    /* display: block; */

    /* width: 100vw; */
  }
  .parent {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* flex-wrap: wrap; */
  }
  .firstborn {
    width: 80%;
    /* height: auto; */
    margin-top: 30px;
    /* margin-bottom: 30px; */
    margin-right: 30px;
    margin-left: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .thirdborn {
    width: 80%;
    /* height: auto; */
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
  }
  .secondborn {
    width: 80%;
    /* height: auto; */
    margin-right: 30px;
    margin-left: 30px;
  }
  p {
    margin-bottom: -50px;
  }
}
